# Node modules
node_modules/

# Prisma 
./src/generated/prisma

# Logs
logs
*.log
npm-debug.log*

# ESLint cache
.eslintcache

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# Optional npm cache
.npm

# Editor
.vscode/
.idea/